
.reveal .slide-number {
  position: fixed;
  bottom: 20px ;
  right: 20px ;
  height: auto;
  width: auto;
}

.reveal .footer {
  // bottom: 17px !important;
  bottom: 0px !important;
  left: 120px !important;
  color: #b22222 !important;
  text-align: center !important;
  a {
    color: #b22222 !important;
  }

}

.reveal .slide-logo {
  height: 60px !important;
  width: 400px !important;
  max-width: unset !important;
  max-height: unset !important;   
  text-align: left !important;  
  position: absolute;
  bottom: 20px;
  left: 400px;
  height: 60px;
  width: 400px;
}

.reveal {
  font-family: "Arial";
  font-size: 1.5em;
  font-weight: normal;
  color: #2E2D62; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,

.reveal h1 {
	font-size: 2.25em;
	font-family: 'Arial';
	color: #2E2D62;
}

.reveal h2 {
	font-size:1.95em;
	font-family: 'Arial';
	color: #2E2D62;
}
.reveal h3 {
	font-size:1.85em;
	font-family: 'Arial';
	color: #038AAD;
}

.reveal h4 {
	font-size:1.55em;
	font-family: 'Arial';
	color: #00BCD4;
}

.reveal h5 {
	font-size: 1.35em;
	font-family: 'Arial';
	color: #8A967C;
}

.reveal h6 {
	font-size:1.15em;
	font-family: 'Arial';
	color: #97A036;
}

/*********************************************
 * OTHER
 *********************************************/

.reveal p {
	color: #2E2D62;
	font-family: 'Arial';
	font-size: 1.25em;
	font-weight: 400;
}


/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }
  
  
/*********************************************
 * LINKS
 *********************************************/
.reveal a:link,
.reveal a:hover,
.reveal a:active {
    color: #46ACC8; /*Fantastic Mr. Fox */
    text-decoration: none;
}

/* visited link */
.reveal a:visited {
    color: #46ACC8; /* gray */
    text-decoration: none;
}

/* mouse over link */
.reveal a:hover {
  color: #DD8D29;
}


li::marker {
	font-family: 'Arial';
	color: #00BCD4;
}


li {
  font-weight: 400;
	font-size: 1.25em;
}

.li-content {
  font-weight: 400;
	font-size: 1.25em;
  margin: 0 !important
}
